body {
	font-family: "Lucida Grande", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: serif;
	font-weight: lighter;
}
h1 { font-size: 250%; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }
a {
	text-decoration: none;
	font-family: serif;
}
a:hover {
	text-decoration: underline;
}
p {
	line-height: 1.2em;
}